<div class="container" style="position: relative; top: 70px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">About</h5>
                <div class="card-body">
                    <h5 class="card-title">This tool is product of BitUrl.</h5>
                    <h5 class="card-title">&copy;2021, BitUrl</h5>
                    <p class="card-text">Welcome to BitUrl, your number one source for all things to short URL. We're
                        dedicated to giving you the very best of URL shortner service, with a focus
                        on three characteristics, ie: dependability, customer service and uniqueness.
                        Founded in 2021 by Raghav Sharma, BitUrl has come a long way from its beginnings in a
                        home office, Udaipur, Rajasthan, IN.]. When Raghav Sharma first started
                        out, his passion for coding and development drove him to do intense
                        research, and gave him the impetus to turn hard work and inspiration into to
                        a booming online service. We now serve customers all over place and are thrilled to be a part of
                        the open source community of the Information Technology industry.

                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any
                        questions or comments, please don't hesitate to contact us.
                    </p>
                    <p>
                        Sincerely,<br>
                        Raghav Sharma, [CEO, Founder]
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>