<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">About</h5>
                <div class="card-body">
                    <h5 class="card-title">This tool is product of BitUrl.</h5>
                    <p class="card-text">This tool provide abiltiy to shorten the url.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>